
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 24px;

}

.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    
}
.sectionTitle{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
}
.sectionButton{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.sectionContent{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px; */
    padding: 0;
     position: relative;
    /* overflow: hidden; */
}

.gridContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  width: 100%;
}

/* Add these styles to your Section.module.css */
.carouselNav {
  display: flex;
  justify-content: space-between;
align-items: center;
  gap: 12px;
  height: 0;



}

.navBtn {
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
z-index: 10;
   position: absolute;
    top: 45%;
  transform: translateY(-70%);
}

.navBtn:hover {
  background: var(--color-black);
  color: var(--color-primary);
}

.prevBtn {
  
  left: -20px;

  
}

.nextBtn {

  right: -20px;


}