/* Add these styles to your Section.module.css */
.carouselNav {
  display: flex;
  justify-content: space-between;
align-items: center;
  gap: 12px;
  height: 0;



}

.navBtn {
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
z-index: 10;
   position: absolute;
    top: 45%;
  transform: translateY(-70%);
}

.navBtn:hover {
  background: var(--color-black);
  color: var(--color-primary);
}

.prevBtn {
  
  left: -20px;

  
}

.nextBtn {

  right: -20px;


}